@import './../import.css';

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  position: relative;
  &__wrapper {
    background: #fff;
    position: relative;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    &_state_show,
    &_state_hide {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      transition: all 0.375s cubic-bezier(0.19, 1, 0.22, 1);
      @media (--mobile) {
        background: none;
      }
    }
    &-inner {
      max-width: 1280px;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
      padding: 0 37px;
      box-sizing: border-box;
      @media (--mobile) {
        justify-content: space-between;
        padding: 0 10px;
      }
    }
  }
}
