.page
{
  position: relative;
}
  .page__left
  {
    width: 300px;
    position: absolute;
    top: 0;
    left: 10px;
  }
  .page__left_state_collapse
  {
    width: 12px;
  }

  .page__right
  {
     margin: 0 0 0 330px;
     visibility: hidden;
  }
  .page__right_state_expand
  {
    margin: 0 0 0 40px;
  }

.page_type_main-page .page__left
{
  display: none;
}
.page_type_main-page .page__right
{
  margin: 0 0 0 40px;
}