.toctree-wrapper
{

}
  .toctree-wrapper ul.current
  {
    padding: 0;
    margin: 0 0 0 1em;
    list-style: disc;
  }
  .toctree-wrapper .toctree-l1 ul
  {
    margin: 0 0 0 1em;
    padding: 0;
  }
    .toctree-wrapper li
    {
      padding: 0.3em 0;
      margin: 0 0 0 0.5em;
    }