{
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "globals": {
    "fetch": true,
    "$": true,
    "jQuery": true
  },
  "env": {
    "mocha": true
  }
}
