*~
*.swo
*.swp
.settings
.project
.pydevproject
TODO.*
nohup.out
.cache
.webassets*
*.sublime*

# JavaScript
node_modules

# Python
cover
.coverage
build
dist
*.egg-info
example
htmlcov
.ropeproject
*.pyc

# Docs
_build
_themes

# tox
__pycache__
.tox
