@import './../import.css';

.nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  @media (--mobile) {
    padding: 25px 0 15px 0;
  }
  &__inner {
    padding: 0 50px 0 0;
    display: flex;
    align-items: center;
  }
  &__link {
    font: 16px var(--font);
    color: var(--color-blue);
    display: inline-block;
    &:hover {
      color: #000;
    }
  }
  &__separator {
    font: 10px/10px var(--font);
    padding: 0 2px 0 4px;
    position: relative;
    display: inline-block;
    & .fa-chevron-right {
      font-size: 10px/10px;
      color: #555;
      padding: 0 0 0 5px;
      position: relative;
      display: inline-block;
    }
  }
  &__item {
    font: 16px var(--font);
    color: #005197;
    display: inline-block;
    &-state-current {
      position: relative;
      display: inline-block;
    }
  }
  &__external {
    display: flex;
    align-items: center;
    @media (--mobile) {
      left: 0;
    }
    &-link {
      font: 14px/14px var(--font);
      color: var(--color-blue);
      text-decoration: none;
      display: block;
      &:hover {
        color: #000;
      }
      @media (--mobile) {
        font: 12px/12px var(--font);
      }
    }
  }
}
