.footer
{
  border-top: solid 1px #ccc;
  padding: 0 0 5em 0;
  margin: 2em 0 0 0;
}
  .footer-buttons
  {
    padding: 1em 0 2em 0;
  }
  .footer__copyright
  {
    padding: 1em 0 0 0;
    font: 0.85em 'Open Sans', Arial, sans-serif;
  }
  .footer__last_updated
  {
    font: 0.85em 'Open Sans', Arial, sans-serif;
  }
  .footer__theme
  {
    padding: 0.2em 0 0 0;
  }
    .footer__theme-link
    {
      font: 0.85em 'Open Sans', Arial, sans-serif;
      color: #0072aa;
    }
    .footer__theme-link:hover
    {
      color: #000;
    }
    .footer__theme-text
    {
      font: 0.85em 'Open Sans', Arial, sans-serif;
      color: #222;
    }