html, body
{
  width: 100%;
  height: 100%;
  background: #fcfcfc;
}

.vertical-track
{
  width: 3px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 10px;
  transition: background 250ms linear;
}

.vertical-track:hover,
.vertical-track.dragging
{
    background: #d9d9d9;
    background: rgba(0, 0, 0, 0.15);
}
.vertical-handle
{
    width: 3px;
    border-radius: 5px;
    background: #bbb;
    right: 0;
    background: #999;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 7px;
    -webkit-transition: width 250ms;
    transition: width 250ms;
}