.page
{
  position: relative;
  margin: 1.5em 1em 0 1em;
}
  .page__left
  {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: #eeeeee;
  }
  .page__right
  {
    margin: 0 0 0 330px;
  }