.page
{
  position: relative;
}
  .page__left
  {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: #eeeeee;
  }
  .page__left_state_collapse
  {
    width: 12px;
  }

  .page__right
  {
    margin: 0 0 0 330px;
  }
  .page__right_state_expand
  {
    margin: 0 0 0 40px;
  }