.rst-content .admonition-title,
.rst-content .headerlink,
{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  color: #0072aa;
}

.rst-content .headerlink
{
  display: none;
  font-size: 0.7em;
  visibility: hidden;
  color: #555;
  position: relative;
  margin: 0 0 0 -0.2em;
}
.rst-content .headerlink:after
{
  content: "\f0c1";
  display: inline-block;
  font-family: FontAwesome;
  visibility: visible;
}
.rst-content h1
{
  font: normal 2em 'Open Sans', Arial, sans-serif;
}
.rst-content h2
{
  font: normal 1.75em 'Open Sans', Arial, sans-serif;
}
.rst-content h3
{
  font: normal 1.5em 'Open Sans', Arial, sans-serif;
}
.rst-content h4
{
  font: normal 1.25em 'Open Sans', Arial, sans-serif;
}
.rst-content h5
{
  font: normal 1em 'Open Sans', Arial, sans-serif;
}
.rst-content h6
{
  font-weight: normal;
}
.rst-content h1:hover .headerlink,
.rst-content h2:hover .headerlink,
.rst-content h3:hover .headerlink,
.rst-content h4:hover .headerlink,
.rst-content h5:hover .headerlink,
.rst-content h6:hover .headerlink,
.rst-content dl dt:hover .headerlink
{
  display: inline-block;
}

.rst-content p
{
  font: 1em 'Open Sans', Arial, sans-serif;
  color: #000;
  line-height: 1.5em;
}
.rst-content a,
.rst-content a:visited
{
 color: #0072aa;
}

.rst-content a:focus
{
  outline: 0;
}
.rst-content a:hover
{
 color: #000;
}

.rst-content img
{
  height: auto;
  max-width: 100%;
}
.rst-content div.figure
{
  margin-bottom: 24px;
}
.rst-content div.figure.align-center
{
  text-align: center;
}
.rst-content .section > img
{
  margin-bottom: 24px;
}
.rst-content blockquote
{
  line-height: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

.rst-content .section ol.loweralpha,
.rst-content .section ol.loweralpha li
{
  list-style: lower-alpha;
}
.rst-content .section ol.upperalpha,
.rst-content .section ol.upperalpha li
{
  list-style: upper-alpha;
}

.rst-content .topic-title
{
  font-weight: bold;
  margin-bottom: 12px;
}
.rst-content .toc-backref
{
  color: #0072aa;
  text-decoration: none;
}
.rst-content .align-right
{
  float: right;
  margin: 0px 0px 24px 24px;
}
.rst-content .align-left
{
  float: left;
  margin: 0px 24px 24px 0px;
}
.rst-content .align-center
{
  display: block;
  margin: auto;
}


.rst-content .highlighted
{
  background: #f1c40f;
  display: inline-block;
  font-weight: bold;
  padding: 0 6px;
}
.rst-content .footnote-reference,
.rst-content .citation-reference
{
  font-size: 90%;
  vertical-align: super;
}
.rst-content table.docutils.citation,
.rst-content table.docutils.footnote
{
  background: none;
  border: none;
  color: #999;
}
.rst-content .docutils.citation td,
.rst-content .docutils.citation tr,
.rst-content .docutils.footnote td,
.rst-content .docutils.footnote tr
{
  background-color: transparent;
  border: none;
  white-space: normal;
  font: 0.95em 'Open Sans', Arial, sans-serif;
}
.rst-content .docutils.citation .label,
.rst-content .docutils.footnote .label
{
  padding: 0.7em 1em 0 0;
  vertical-align: top;
}

.rst-content .docutils.footnote .fn-backref
{
  color: #005197;
  text-decoration: none;
  position: relative;
  top: -0.1em;
}

.rst-content table.field-list
{
  border: none;
  margin: 0 0 2em 0;
}
  .rst-content table.field-list caption
  {
    color: #000;
    font: italic 0.875em 'Open Sans', Arial, sans-serif;
    padding: 1em 0;
    text-align: center;
  }
  .rst-content table.field-list thead {

  }
  .rst-content table.field-list td
  {
    border: none;
  }
    .rst-content table.field-list td > strong
    {
      display: inline-block;
    }
  .rst-content table.field-list .field-name
  {
    padding: 0 1em 0 0;
    text-align: left;
    white-space: nowrap;
  }
  .rst-content table.field-list .field-body
  {
    text-align: left;
  }


.rst-content .section ul
{
  list-style: disc;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em;
  font: 1em 'Open Sans', Arial, sans-serif;
}
  .rst-content .section ul ul
  {
    list-style: circle;
  }
    .rst-content .section ul ul ul
    {
      list-style: square;
    }
      .rst-content .section ul ul ul dt
      {
        font-weight: normal;
      }
      .rst-content .section ul ul ul ul
      {
        list-style: circle;
      }
        .rst-content .section ul ul ul ul ul
        {
          list-style: disc;
        }

.rst-content .section dl
{
  margin: 0 0 1em 0;
  padding: 0;
}
  .rst-content .section dl dt
  {
    font-weight: bold;
    padding: 0 0 0.4em 0;
  }

.rst-content .literal
{
  background: #fff;
  border: 1px solid #e1e4e5;
  overflow-x: auto;
  font: 1em 'Incosolata', monospace;
  padding: 0 0.35em 0.15em 0.3em;
  white-space: nowrap;
  position: relative;
  line-height: 0.5em;
}
  .rst-content .literal .pre
  {
    padding: 0;
    margin: 0;
  }


.rst-content table.docutils
{
  border: 1px solid #e1e4e5;
}
  .rst-content table.docutils caption
  {
    color: #000;
    font: italic 0.875em 'Open Sans', Arial, sans-serif;
    padding: 1em 0;
    text-align: center;
  }
  .rst-content table.docutils thead
  {
    color: #000;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
  }
    .rst-content table.docutils th
    {
      font: 1em 'Open Sans', Arial, sans-serif;
      margin: 0;
      overflow: visible;
      padding: 0.7em 1em;
    }
    .rst-content table.docutils td
    {
      font: bold 1em 'Open Sans', Arial, sans-serif;
      margin: 0;
      overflow: visible;
      padding: 0.7em 1em;
    }
    .rst-content table.docutils .row-even td
    {
      background: #f3f6f6;
    }


.rst-content ul.simple
{
  list-style: disc;
  margin: 0 0 1.5em 0;
  padding: 0 0 0 1.5em;
  font: 1em 'Open Sans', Arial, sans-serif;
}
  .rst-content ul.simple ul
  {
    margin: 0;
  }
  .rst-content ul.simple .reference
  {
    display: inline-block;
    margin: 0.3em 0;
  }