.tree
{
  width: 105%;
  /*margin: 0 20px 0 0;*/
}
.tree header
{
  color: #2980b9;
  display: block;
  font: 0.85em 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  padding: 0 1.618em;
  text-transform: uppercase;
  white-space: nowrap;

}
  .tree ul
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
    .tree li.divide-top
    {
      border-top: solid 1px #404040;
    }
    .tree li.divide-bottom
    {
      border-bottom: solid 1px #404040;
    }
    .tree li.current
    {
      background: #e3e3e3;
    }
    .tree li.current a
    {
      border-right: solid 1px #c9c9c9;
      color: #333;
      padding: 0.4045em 2.427em;
    }
    .tree li.current a:hover
    {
      background: #d6d6d6;
    }
    .tree li.on a,
    .tree li.current > a
    {
      background: #fcfcfc;
      border: none;
      border-bottom: solid 1px #c9c9c9;
      border-top: solid 1px #c9c9c9;
      color: #404040;
      font-weight: bold;
      padding: 0.4045em 1.618em;
      padding-left: 1.618em -4px;
      position: relative;
    }
.tree li.on a:hover,
.tree li.current > a:hover
{
  background: #fcfcfc;
}
.tree li.toctree-l2.current > a
{
  background: #c9c9c9;
  padding: 0.4045em 2.427em;
}
.tree li.current ul
{
  display: block;
}
.tree li ul
{
  display: none;
  margin-bottom: 0;
}
.tree .local-toc li ul
{
  display: block;
}
.tree li ul li a
{
  color: #b3b3b3;
  font-weight: normal;
  margin-bottom: 0;
}
.tree ul li.toctree-l3 a
{
  padding: 0.4045em 2.427em 0.4045em 3.427em;
}
.tree a,
.tree a:visited
{
  color: #000;
  display: block;
  font: 0.85em 'Open Sans', Arial, sans-serif;
  padding: 0.4045em 1.618em;
  position: relative;
  text-decoration: none;
}
.tree a:hover
{
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}

.tree a:active
{
  background-color: #2980b9;
  color: #fff;
  cursor: pointer;
}