@import './../import.css';

.wrapper {
  min-width: 985px;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  @media (--mobile) {
    min-width: 240px;
  }
  @media (--tablet) {
    min-width: auto;
  }
  &__inner {
    padding: 0 37px;
    position: relative;
    @media (--mobile) {
      padding: 0;
    }
  }
}
