@import './../import.css';

.btn {
  font: 1.25em var(--font);
  color: #fff;
  color: #404040 !important;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  padding: 6px 12px 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 1px 2px -1px rgba(255, 255, 255, 0.5) inset, 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
  cursor: pointer;
  background-color: #27ae60;
  moz-transition: all 0.1s linear;
  user-select: none;
  zoom: 1;
  background-color: #f3f6f6 !important;
  &-hover {
    color: #fff;
    background: #2e8ece;
  }
  &:hover {
    color: #404040;
    background-color: #e5ebeb !important;
  }
  &:focus {
    background: #2cc36b;
    outline: 0;
  }
  &:active {
    padding: 8px 12px 6px 12px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.05) inset, 0 2px 0 0 rgba(0, 0, 0, 0.1) inset;
  }
  &:disabled {
    box-shadow: none;
    opacity: 0.4;
    cursor: not-allowed;
    background-image: none;
    filter: progid:dximagetransform.microsoft.gradient(enabled = false);
  }
  &-disabled {
    box-shadow: none;
    opacity: 0.4;
    cursor: not-allowed;
    background-image: none;
    filter: progid:dximagetransform.microsoft.gradient(enabled = false);
    &:hover,
    &:focus,
    &:active {
      box-shadow: none;
      opacity: 0.4;
      cursor: not-allowed;
      background-image: none;
      filter: progid:dximagetransform.microsoft.gradient(enabled = false);
    }
  }
}
