@import './../import.css';

.footer {
  width: 100%;
  padding: 0 0 100px 0;
  margin: 30px 0 0 0;
  border-top: solid 1px #ccc;
  clear: both;
  &-buttons {
    padding: 15px 0 30px 0;
  }
  &__copyright {
    font: 13px var(--font);
    padding: 15px 0 0 0;
  }
  &__last_updated {
    font: 13px var(--font);
  }
  &__theme {
    padding: 0.2em 0 0 0;
    &-link {
      font: 13px var(--font);
      color: #0072aa;
      &:hover {
        color: #000;
      }
    }
    &-text {
      font: 13px var(--font);
      color: #222;
    }
  }
}
