@import './../import.css';

.menu {
  width: 30px;
  position: relative;
  overflow: hidden;
  z-index: 200;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  &_state_collapse {
    animation-name: menuCollapse;
    & .menu-switch__arrow {
      &::after {
        content: '\f054';
        @media (--mobile) {
          content: '\f0c9';
        }
      }
    }
  }
  &_state_close {
    width: 30px;
    & .menu-switch__arrow {
      &::after {
        content: '\f054';
        @media (--mobile) {
          content: '\f0c9';
        }
      }
    }
  }
  &_state_open {
    width: 300px;
  }
  &_state_expand {
    display: block;
    animation-name: menuExpand;
  }
  &-inner {
    width: 290px;
    background: #eee;
    overflow: auto;
  }
  &-logo {
    padding: 24px 20px 15px 20px;
    &__link {
      display: inline-block;
      &-image {
        vertical-align: bottom;
      }
    }
    &__desc {
      font: 12px var(--font);
      color: #000;
      padding: 8px 0 0 0;
    }
  }
  &-project {
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    &__link {
      width: 100%;
      font: 24px/32px var(--font);
      color: #0072aa;
      white-space: pre-wrap;
      display: inline-block;
      word-wrap: break-word;
      &:hover {
        color: #000;
      }
    }
  }
  &-search {
    padding: 10px 40px 0 20px;
    margin: 15px 0;
  }
  &-switch {
    width: 30px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 500;
    cursor: pointer;
    @media (--mobile) {
      width: 30px;
      background: #fff;
    }
    &__arrow {
      width: 18px;
      height: 100%;
      background: rgb(204, 204, 204);
      position: absolute;
      left: 0;
      top: 0;
      @media (--mobile) {
        width: 30px;
        height: 30px;
        background: #0072aa;
      }
      &::after {
        font: 13px/13px 'FontAwesome', sans-serif;
        position: absolute;
        position: relative;
        content: '\f053';
        left: 1px;
        top: 50%;
        transform: translate(-50%, 0);
        @media (--mobile) {
          font: 16px/16px 'FontAwesome', sans-serif;
          color: #fff;
          content: '\f0c9';
          left: 3px;
          top: 6px;
        }
      }
    }
  }
}

@keyframes menuExpand {
  from {
    width: 30px;
  }
  to {
    width: 300px;
  }
}

@keyframes menuCollapse {
  from {
    width: 300px;
  }
  to {
    width: 30px;
  }
}
