@import './../import.css';

.mobile-menu {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #0072aa;
  position: relative;
  display: none;
  &::before {
    font: 20px 'FontAwesome', sans-serif;
    color: #fff;
    position: relative;
    content: '\f0c9';
    display: inline-block;
    left: 1px;
    top: 4px;
  }
}
