@import './../import.css';

.page {
  position: relative;
  display: flex;
  &__left {
    &-inner {
      position: relative;
    }
  }
  &__right {
    position: relative;
    &-inner {
      position: relative;
    }
  }
}
