@import './../import.css';

.search {
  margin: 20px 0 0 0;
  &-form {
    &__input {
      width: 100%;
      font: 14px/14px var(--font);
      color: #000;
      padding: 8px 15px 8px 8px;
      border: solid 1px #ccc;
      position: relative;
      box-sizing: border-box;
      &:focus {
        outline: 0;
      }
    }
  }
}
