@import './../import.css';

.tree {
  width: 100%;
  & a,
  & a:visited {
    font: 18px var(--font);
    color: var(--color-blue);
    text-decoration: none;
    padding: 5px 20px;
    position: relative;
    display: block;
  }
  & a:hover {
    background-color: #efefef;
    cursor: pointer;
  }
  & a:active {
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
  }
  & header {
    height: 32px;
    font: 18px var(--font);
    font-weight: bold;
    color: #2980b9;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 32px;
    padding: 0 1.618em;
    display: block;
  }
  & ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  & li.divide-top {
    border-top: solid 1px #404040;
  }
  & li.divide-bottom {
    border-bottom: solid 1px #404040;
  }
  & li.current {
    background: #e3e3e3;
    & a {
      color: #333;
      padding: 0.4045em 2.427em;
      border-right: solid 1px #c9c9c9;
      &:hover {
        background: #d6d6d6;
      }
    }
  }
  & li.on a,
  & li.current > a {
    color: #404040;
    background: #fcfcfc;
    padding: 0.4045em 1.618em;
    border: none;
    border-top: solid 1px #c9c9c9;
    border-bottom: solid 1px #c9c9c9;
    position: relative;
    padding-left: 1.618em -4px;
  }
  & li.on a:hover,
  & li.current > a:hover {
    background: #fcfcfc;
  }
  & li.toctree-l2.current > a {
    background: #c9c9c9;
    padding: 0.4045em 2.427em;
  }
  & li.current ul {
    display: block;
  }
  & li ul {
    display: none;
    margin-bottom: 0;
  }
  & .local-toc li ul {
    display: block;
  }
  & li ul li a {
    font-weight: normal;
    color: #b3b3b3;
    margin-bottom: 0;
  }
  & ul li.toctree-l3 a {
    padding: 0.4045em 2.427em 0.4045em 3.427em;
  }
}

