@import './../import.css';

div.main-menu_type_mobile {
  width: 100%;
  height: 100%;
  padding: 30px 0 0 0;
  position: fixed;
  display: flex;
  align-items: center;
  visibility: hidden;
  box-sizing: border-box;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  animation: 1s both;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  overflow-y: scroll;
  &::before {
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    content: '';
    display: block;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  &_state_visible {
    display: flex;
    visibility: visible;
    animation-name: mobileMenuFadeIn;
  }
  &_state_hidden {
    animation-name: mobileMenuFaderOut;
  }
}

@keyframes mobileMenuFadeIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes mobileMenuFaderOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
