@import './import.css';

.nav {
  width: 100%;
  position: relative;
  vertical-align: top;
  padding: 0.7em 0 1em 0;
  border-bottom: solid 1px #ccc;
  display: table;
  &__inner {
    padding: 0 5em 0 0;
  }
    &__link {
      color: #0072aa;
      display: inline-block;
      font: 1em 'Open Sans', Arial, sans-serif;
      &:hover {
        color: #000;
      }
    }
    &__separator {
      position: relative;
      display: inline-block;
      font: 1em 'Open Sans', Arial, sans-serif;
      padding: 0 0.3em;
      & .fa-chevron-right {
        font-size: 0.5em;
        padding: 0 0.1em 0 0.5em;
        position: relative;
        top: -0.2em;
        display: inline-block;
        color: #555555;
      }
    }
    &__item {
      color: #005197;
      display: inline-block;
      &-state-current {
        position: relative;
        display: inline-block;
      }
    }
  &-external {
    position: absolute;
    right: 0;
    top: 0.6em;
    &__link {
      color: #0072aa;
      font: 0.85em 'Open Sans', Arial, sans-serif;
      display: inline-block;
      text-decoration: none;
      &:hover {
        color: #000;
      }
    }
  }
}
